@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  font-size: 16px;
}
html,
body,
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.btn-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fbae3c;
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 2rem;
  font-size: 7rem;
}
.btn:hover {
  cursor: pointer;
  color: #ffffff;
  transform: scale(1.07);
}

.dice-container {
  position: relative;
  width: 0%;
  height: 0%;
  top: calc(50% - 10rem);
  left: calc(50% - 5rem);
  background-color: rgb(175, 90, 90);
  perspective: 10000px;
}
.dice-container::after {
  content: "";
  background-color: rgb(0, 0, 0);
  width: 10rem;
  height: 10rem;
  transform: scaleY(6%) translateY(80%);
  position: absolute;
  /* bottom: 10rem; */

  z-index: 0;
  filter: blur(7rem);
  border-radius: 100%;
}
.dice {
  position: relative;
  z-index: 1;
  width: 10rem;
  height: 10rem;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: all 750ms ease;
  /* transition: all 500 ease-in; */
}

.dice-side {
  background-color: rgba(255, 99, 71, 1.671);
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: inset 0.07rem 0.07rem 1rem 0.2rem rgba(255, 255, 255, 0.26);
}

.dice-left {
  transform: translateX(-5rem) rotateY(90deg);
  background-image: url("/cat1.jpg");
  background-size: cover;
}

.dice-right {
  transform: translateX(5rem) rotateY(90deg);
}

.dice-front {
  /* background-color: rgb(51, 255, 0); */
  transform: translateZ(5rem);
}

.dice-back {
  /* background-color: rgba(212, 240, 57, 0.562); */
  transform: translateZ(-5rem);
}

.dice-top {
  /* background-color: rgba(180, 119, 115, 0.377); */
  transform: translateY(-5rem) rotateX(90deg);
}

.dice-bottom {
  /* background-color: rgba(73, 226, 43, 0.77); */
  transform: translateY(5rem) rotateX(90deg);
}
.dot-wrapper {
  background-color: rgba(255, 0, 149, 0);
  position: relative;
  width: 100%;
  height: 100%;
}
.dot {
  background-color: rgb(255, 255, 255);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
}
.dot-center {
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
}
.dot-left {
  top: calc(50% - 1rem);
  left: calc(50% + 1rem);
}
.dot-right {
  top: calc(50% - 1rem);
  left: calc(50% - 3rem);
}
.dot-top-right {
  top: calc(50% - 3rem);
  left: calc(50% + 2rem);
}
.dot-top-left {
  top: calc(50% - 3rem);
  left: calc(50% - 4rem);
}
.dot-down-center {
  top: calc(50% + 1rem);
  left: calc(50% - 1rem);
}
.dot-down-right {
  /* top: calc(50% + 1rem); */
  top: calc(50% + 1rem);
  left: calc(50% + 2rem);
}
.dot-down-left {
  /* top: calc(50% + 1rem); */
  top: calc(50% + 1rem);
  left: calc(50% - 4rem);
}
.dot-top-center {
  top: calc(50% - 3rem);
  left: calc(50% - 1rem);
}
